/* GOOGLE FONTS   */
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Fira+Sans+Extra+Condensed:wght@200;500&family=Press+Start+2P&display=swap");

html,
body {
  background: #fda2be;
  background-image: url("imgs/bg_checker_pattern.png");
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

h1 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

/* SCORECARD ET AL. ***/
#container {
  position: absolute;
  text-align: center;
  top: 2%;
  left: 2%;
  z-index: 500;
}

#draggable {
  background: #ff5743;
  background-image: url("https://img.icons8.com/sf-ultralight/25/null/resize-four-directions.png");
  filter: drop-shadow(3px 3px #000);
  background-repeat: no-repeat;
  background-position: 5px 3px;
  height: 33px;
  position: relative;
  text-align: left;
  z-index: 888;
}
#draggable:hover {
  cursor: grab;
}
#draggable:active {
  cursor: grabbing;
}

#scorecard-options-container {
  position: relative;
}

.scorecard {
  background-color: #fff;
  filter: drop-shadow(3px 3px #000);
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 200;
  padding: 22px 16px 36px;
  position: relative;
  z-index: 999;
}
.scorecard h1,
.scorecard h3 {
  display: inline;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 2.2em;
  font-weight: 500;
  text-align: center;
  font-style: italic;
  margin: 0;
  padding: 4px 16px;
}
.scorecard > h1 {
  font-size: 3em;
  font-weight: 800;
  font-style: oblique;
}

.player-score,
.comp-score {
  align-items: stretch;
  background: #51b266;
  display: flex;
  filter: drop-shadow(2px 2px #5b5b5b);
  justify-content: center;
  justify-content: space-between;
  margin-top: 8px;
}
.comp-score {
  background: #d7cece;
}

/* PLAY, RESET, OPTIONS   */
#play-reset-container,
#options {
  background: #999;
  filter: drop-shadow(3px 3px #000);
  margin: 0 6px;
  padding: 10px 10px 6px;
  position: relative;
  top: 0;
  z-index: 500;
}
.play-reset-container {
  position: relative;
  top: 0;
}

button#play,
button#reset,
#options > button {
  background: #fff;
  display: block;
  filter: drop-shadow(2px 2px #5b5b5b);
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 1.8em;
  font-weight: 200;
  margin: 4px 0;
  padding: 2px 0;
  position: relative;
  text-transform: capitalize;
  width: 100%;
}

button#play:hover,
button#reset:hover,
#options > button:hover {
  background: #51b266;
  color: #fff;
}

button#play:active,
button#reset:active,
#options > button:active {
  filter: drop-shadow(0 0 #5b5b5b);
  border: none;
  color: #51b266;
}

button#play,
button#reset {
  margin: 0 0 6px;
  padding: 0 0 2px;
  position: relative;
  top: 0;
}
button#play {
  margin-bottom: 10px;
}

/* SET-UP FOR SCROLLING FUNCTIONS   */
#scorecard-options-container {
  top: -36px;
}
#options {
  top: -110px;
}
/* END SCORECARD ET AL. ***/

#choice-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#player-choice,
#comp-choice {
  color: #51b266;
  filter: drop-shadow(2px 2px #5b5b5b);
  position: absolute;
  left: 0;
  font: oblique 15em "Climate Crisis", cursive;
  text-transform: uppercase;
}
#comp-choice {
  color: #d7cece;
  top: 200px;
}

#win {
  color: #b14337;
  filter: drop-shadow(3px 3px 0 #5b5b5b);
  font: normal 22em "Press Start 2P", cursive;
  position: absolute;
  z-index: 400;
  top: 8%;
  left: 0;
  width: 100vw;
  text-align: center;
}
